<form action='/links' method='POST'>
  <label for='title'>
    Name:
    <input type='text' name='title'/>
  </label>

  <label for='url'>
    url:
    <input type='text' name='url'/>
  </label>

  <input type='submit' id='Submit' name='Submit'/>

</form>
